<%- include('partials/header') %>
<h2>Help & Support</h2>
<p>Welcome to the Help page. Here you will find answers to common questions and support resources. More content coming soon!</p>
<%- include('partials/footer') %> 