        </main>
    </div> <!-- /.container -->

    <footer>
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> qiktix uk. All rights reserved.</p>
            <!-- Add footer links, scripts etc. here -->
        </div>
    </footer>
    <!-- Add global JS scripts here if needed -->
</body>
</html> 